
</div>
<footer> 
  <div class="footer-padding"></div>
  <div class="footer">
    <p>This webpage is now functional for desktops only. Mobile support will be included in the next version along with support for uploading videos and images.</p>
  </div>
</div>
</body>
</footer>
</html>
