<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Notes&Doubts</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Notes&Doubts</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="note"><a href="/notes">NEW NOTE</a></li>
          <li id="ask"><a href="/ask">ASK</a></li>
          <li id="answers"><a href="/allAnswersWithQuestions">ANSWERS</a></li>
          <li id="questions"><a href="/questions">QUESTIONS</a></li>
          <li id="contact"><a href="contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
