<%- include partials/header %>
<h1>Ask</h1>
<form action="" method="POST">
    <h3>Name</h3>
    <input type="text" name="newNameAsk" placeholder="Name" class="title">
    <h3>Question</h3>
    <input type="text" name="newAsk" placeholder="Type your question here" class="title">

    <br>
    <button class="btn btn-dark" type="submit">Finish</button>
</form>
<%- include partials/footer %> 