<%- include partials/header %> 
<h1>Contact</h1>
<div class="contact">
<h3>Github : <a href="https://github.com/cipherButterfly">cipherButterfly</a></h3>
<h3>Stackoverflow: <a href="https://stackoverflow.com/users/13819809/cipherbutterfly">https://stackoverflow.com/users/13819809/cipherbutterfly</a></h3>
<h3>Reddit: <a href="https://reddit.com/u/lonely-------">https://reddit.com/u/lonely-------</a></h3>
<h3>Instagram: <a href="https://instagram.com/cipherButterfly">https://instagram.com/cipherButterfly</a></h3>
<h3>Email: code.tharunkothari@icloud.com   or code.tharunkothari@gmail.com</h3>
<h3>Phone Number: +91 8197797196</h3>
</div>
<%- include partials/footer %> 