<%- include partials/header %>
<h1>New Note</h1>
<form action="" method="POST">
    <h3>Name</h3>
    <input type="text" name="newName" placeholder="Name" class="title">
    <h3>Title</h3>
    <input type="text" name="newTitle" placeholder="Title" class="title">
    <h3>Post</h3>
    <textarea name="newPost" placeholder="Start writing here..........." class="post"></textarea>
    <br>
    <button class="btn btn-dark" type="submit">Finish</button>
</form>
<%- include partials/footer %> 